.final-search, .date-input, .final-add{
  margin-top: 10px;
  font-size:15px;
  padding: 10px 15px;
}
.final-list .starting .final-add{
  font-size:15px;
  color: white;
  background-color: green;
  border-style:solid;
  border-color:green;
  cursor:pointer;
}
.final-list .final-todo .delete{
  padding:10px 15px;
  border-style: solid;
  background-color: red;
  color: white;
  border-color:red;
  font-size:15px;
  cursor:pointer;
}
.final-todo, .final-list .starting {
  display:grid;
  grid-template-columns: 200px 150px 100px;
  align-items:center;
  column-gap: 10px;
  row-gap:10px;
}
.final-list .starting{
  margin-bottom:10px;
}
.final-list{
  font-family:Arial;
}
